<div id="<%= dom_id task_list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= task_list.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= task_list.user_id %>
  </p>
</div>
